@page { margin: 0.6in; }
html { font-size: 11pt; }
body {
  font-family: "Georgia", "Times New Roman", serif;
  line-height: 1.3;
  color: #111;
}
code, pre { font-family: "Menlo", "Consolas", monospace; font-size: 0.9em; }
h1, h2, h3 { line-height: 1.1; margin-top: 1.2em; }
ol, ul { padding-left: 1.4em; }
li {
  list-style-position: outside;
}
li > p { margin: 0; }
li > p + p {
  margin-top: 0.6em;
  margin-left: 0.6em;
}
img { max-width: 100%; }
